<h2 class="page-heading">Users</h2>
<div class="span3 pull-right text-center" style="margin-bottom:10px; margin-right:2.7%;">
	<button id="add-new-user" class="btn btn-primary font-family" style="width: 120px; color:white;" >Add User</button>
</div>
<table id="users_grid" class="display">
	<thead>
		<tr>
			<th>Full Name</th>
			<th> Email Address</th>
			<th>Phone Number</th>
			<th>Role</th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody>
		<% @user_roles.each do |user| %>
			<% if @roles.key? (user.user_id) %>
				<tr>
					<td> <%= "#{user.last_name} , #{user.first_name}" %> </td>
					<td> <%= user.email_address %> </td>
					<td> <%= user.mobile_number %> </td> 

					<td> <%= @roles[user.user_id] %> </td>
					<td> <%=link_to 'Edit', users_edit_path, {:class => "font-family"} %> | <%=link_to 'Delete', users_delete_path, {:class => "font-family"} %> </td>
				</tr>
			<% end %>	
		<% end %>
	</tbody>
</table>

<%= render 'Add_New_User' %>