<div class="container" style="width: 100%;">
        <div style="background-color:#1f3559">
         <%= image_tag("CapsLogo.png", style: "margin-left: 5%;margin-top:10px;") %>
        </div>
        <div style="font-size: xx-large;margin-top: -65px; color: white;" class="text-center font-family">Library Management System </div>
            
        <% if !session[:current_user_id].nil? %>
          <% if !session[:current_is_new_user] %>
            <div class="pull-right" style="margin-top: -30px;">
                 <%= link_to "Log Out", home_logout_path,{:class => 'span1 pull-right font-family',:style => "color: white; margin-right: 20px;"} %> 
                 <%= link_to "Change Password", home_change_password_path(link: true),{:class => 'span2 pull-right font-family',:style => "color: white;"} %>
            </div>
          <% end %>
        <% end %>
</div>
    <br>
    <% if !session[:current_user_id].nil? %>
      <% if !session[:current_is_new_user] %>
        <div style="margin-top: 20px;" class="text-center">
          <button class="btn btn-primary" style="width:120px;margin-right:5px;margin-bottom:5px;"><%= link_to "Home",home_index_path, {:style => "color:white;",:class => 'font-family'} %> </button>
          <button class="btn btn-primary" style="width:145px;margin-right:5px;margin-bottom:5px;"><%= link_to "Book Management",books_index_path, {:style => "color:white;",:class => 'font-family'} %> </button>

          <% if (!session[:is_admin].nil? && session[:is_admin]) || (!session[:is_librarian].nil? && session[:is_librarian] && !session[:is_user].nil? && session[:is_user]) %>       
              <button class="btn btn-primary" style="width:160px;margin-right:5px;margin-bottom:5px;"><%= link_to "Borrow / Return Book",home_index_path, {:style => "color:white;",:class => 'font-family'} %> </button>
              <button class="btn btn-primary" style="width:120px;margin-right:5px;margin-bottom:5px;"><%= link_to "Users",users_index_path, {:style => "color:white;",:class => 'font-family'} %> </button>
              <button class="btn btn-primary" style="width:120px;margin-right:5px;margin-bottom:5px;"><%= link_to "Activity Logs",books_activity_logs_path, {:style => "color:white;",:class => 'font-family'} %> </button>
          <% end %>  

          <% if !session[:is_librarian].nil? && session[:is_librarian] && (session[:is_admin].nil? || !session[:is_admin]) && (session[:is_user].nil? || !session[:is_user]) %>
              <button class="btn btn-primary" style="width:160px;margin-right:5px;margin-bottom:5px;"><%= link_to "Borrow / Return Book",home_index_path, {:style => "color:white;",:class => 'font-family'} %> </button>
              <button class="btn btn-primary" style="width:120px;margin-right:5px;margin-bottom:5px;"><%= link_to "Users",users_index_path, {:style => "color:white;",:class => 'font-family'} %> </button>
          <% end %>   

          <% if !session[:is_user].nil? && session[:is_user] && (session[:is_admin].nil? || !session[:is_admin]) && (session[:is_librarian].nil? || !session[:is_librarian]) %>   
              <button class="btn btn-primary" style="width:120px;margin-right:5px;margin-bottom:5px;"><%= link_to "Activity Logs",books_activity_logs_path, {:style => "color:white;",:class => 'font-family'} %> </button>          
          <% end %>  

        </div>
      <% end %>    
    <% end %>

<script type="text/javascript">

   $(document).ready(function(){
      $('.makeLabelMandatory').each(function () {
            $(this).append("<span class='mandatoryCheck' style='color:red;font-size:20px;vertical-align:middle;'>*</span>");
      });
   });
</script>    
