<h2 class="page-heading">Change Password</h2>
<br>

<%= form_for(@user, url: home_change_password_path, html: { :class => "text-center", :id => "change_password_form" }) do |f| %>
	
	<%= f.password_field :current_password, required: true, placeholder: "Current Password", :class => "textbox-format", autofocus: true %>
	<br><br>

	<%= f.password_field :new_password, required: true, placeholder: "New Password", :class => "textbox-format" %>
	<br><br>

	<%= f.password_field :confirm_password, required: true, placeholder: "Confirm Password", :class => "textbox-format" %>
	<br><br><br>


	<%= f.button "Clear", type: "reset", :class => "button-format" %> &nbsp;&nbsp;		
	<%= f.submit "Confirm", :class => "button-format" %>
	
<% end %>	
<br>
<div id="form_message" class="flash-message"></div>

<script type="text/javascript">
	
	$(document).ready(function() {
		$('#change_password_form').submit(function() {			
			$('#form_message').empty();
			var current_password = $('#user_current_password').val();
			var new_password = $('#user_new_password').val();
			var confirm_password = $('#user_confirm_password').val();

			if(current_password == new_password) {
				$('#form_message').html('Current Password and New Password should not be same');
				return false;
			}	
			if(new_password != confirm_password) {
				$('#form_message').html('New Password and Confirm Password does not match');
				return false;
			}			
		})
	})	

</script>