<br>
<h2 class="page-heading">Login</h2>
<br>

<%= form_for(@user, url: home_validate_login_path, html: { :class => "text-center" }) do |f| %>
	
	<%= f.text_field :email_address, required: true, placeholder: "Email", :class => "textbox-format", autofocus: true %>
	<br><br>

	<%= f.password_field :password, required: true, placeholder: "Password", :class => "textbox-format" %>
	<br><br><br>

	<%= f.submit "Login", :class => "button-format" %> &nbsp;&nbsp;	
	<%= link_to "Forgot Password", home_forgot_password_path, :class => "font-family" %>	
	
<% end %>
